---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Salem,%20OR&key=AIzaSyA-bLnmcpYFog0hrAvBrk_A9bzCMMzl1uc&language=en&origin=Portland,%20OR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJY5xLvPz-v1QRwlcDj-ApNPk",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 45.51652560000001,
                       "lng" : -122.6733877
                    },
                    "southwest" : {
                       "lat" : 44.9428043,
                       "lng" : -123.038819
                    }
                 },
                 "copyrights" : "Map data \u00a92023 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "46.1 mi",
                          "value" : 74185
                       },
                       "duration" : {
                          "text" : "51 mins",
                          "value" : 3085
                       },
                       "end_address" : "Salem, OR, USA",
                       "end_location" : {
                          "lat" : 44.9428043,
                          "lng" : -123.0351435
                       },
                       "start_address" : "Portland, OR, USA",
                       "start_location" : {
                          "lat" : 45.5152258,
                          "lng" : -122.6783624
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "0.1 mi",
                                "value" : 155
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 30
                             },
                             "end_location" : {
                                "lat" : 45.51652560000001,
                                "lng" : -122.677643
                             },
                             "html_instructions" : "Head \u003cb\u003enorth\u003c/b\u003e on \u003cb\u003eSW 4th Ave\u003c/b\u003e toward \u003cb\u003eSW Main St\u003c/b\u003e",
                             "polyline" : {
                                "points" : "euxtGvrwkV_CeAcCiA"
                             },
                             "start_location" : {
                                "lat" : 45.5152258,
                                "lng" : -122.6783624
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "0.2 mi",
                                "value" : 328
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 81
                             },
                             "end_location" : {
                                "lat" : 45.5154899,
                                "lng" : -122.6736998
                             },
                             "html_instructions" : "Turn \u003cb\u003eright\u003c/b\u003e at the 2nd cross street onto \u003cb\u003eSW Salmon St\u003c/b\u003e",
                             "maneuver" : "turn-right",
                             "polyline" : {
                                "points" : "i}xtGfnwkVv@kEr@cETwAZeBV{AXiB"
                             },
                             "start_location" : {
                                "lat" : 45.51652560000001,
                                "lng" : -122.677643
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                            [...]
